body {
    font-family: semplicitapro, sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    body p {
        font-size: 1rem;
    }
}

div,
input {
    box-sizing: border-box;
}

.wheat-bg {
    align-items: flex-end;
    background-image: url(images/wheat-background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
}

@media (max-width: 768px) {
    .wheat-bg {
        height: 275px;
    }
}

.wheat-bg .container {
    position: absolute;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.logo {
    margin-bottom: 1rem;
    width: 500px;
}

@media (max-width: 768px) {
    .logo {
        width: 200px;
    }
}

.content {
    margin: 3rem auto;
    max-width: 100%;
    padding: 0 1rem;
    width: 750px;
}

a {
    color: #F57219;
    font-weight: 400;
    text-decoration: none;
}

p {
    margin-top: 0;
}

a:hover {
    text-decoration: underline;
}

.text-bold {
    font-weight: 400;
}

.text-big {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .text-big {
        font-size: 1.1rem;
    }
}

.text-align-center {
    text-align: center;
}

.mb-half {
    margin-bottom: 0.5rem;
}

.mb3 {
    margin-bottom: 3rem;
}

#mc_embed_signup {
    margin: 3rem auto;
    width: 80%;
}

#mc_embed_signup input {
    font-family: semplicitapro, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    #mc_embed_signup input {
        font-size: 1rem;
    }
}

#mc_embed_signup input[type=email] {
    padding: 1rem;
    width: 100%;
}

#mc_embed_signup input[type=submit] {
    background-color: #F57219;
    border: 1px solid #F57219;
    color: #fff;
    padding: 1rem;
    width: 100%;
    -webkit-appearance: none;
}

#mc_embed_signup .brandingLogo img {
    max-width: 150px;
}